@import url(
    'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    max-width: 1400px;
    margin: auto;
}

.disable-scroll {
    height: 100%;
    overflow-y: hidden;
 }

/**********
 * HEADER *
 **********/
header #div-header {
    background-color:  #f5f5f5;
    height: 80px;
    display: block;
}

#logotipo img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

#logo-e-icones {
    display: flex;
    justify-content: space-between;
    flex-shrink: 2;
}

#logo-e-icones > div > ul {
    display: flex;
    align-items: baseline;
    margin-right: 20px;
}

#logo-e-icones > div > ul > li {
    list-style-type: none;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 0;
}

.in-campo-pesquisa-class {
    border-width: 1px;
    border-color: #aaa;
}

#in-campo-pesquisa-hidden {
    width: 0px;
    height: 30px;
    border: 0px;
    padding: 0px;
    transition: all 0.5s;
}

#in-campo-pesquisa {
    width: 300px;
    height: 30px;
    transition: all 0.5s;
}

#li-hamburguer {
    display: none;
}

/********
 * MENU *
 ********/
.menu {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color:  #f5f5f5;
    text-transform: uppercase;
    margin-top: 0px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: row;
    margin-bottom: 0px;
}

.menu > li {
    list-style-type: none;
}

.menu > li > a {
    color: #a4a3a3;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
}

.menu > li > a:hover {
    color:  #0075be;
}

/**********
 * BANNER *
 **********/
.banner > h1 {
    margin-top: 0px;
    font-size: 48px;
    color: white;
    margin-left: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
}

.banner > h2 {
    font-size: 30px;
    color: #ccc;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.banner > h3 {
    font-size: 20px;
    color: white;
    font-style: italic;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.banner {
    position: relative;
    background-image: url("imagens/fundoBanner.jpg");
    height: 500px;
}

#img-computador {
    position: absolute;
    right: 40px;
    bottom: -40px;
}

#saiba-mais {
    margin-left: 20px;
    background-color: #f16248;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#saiba-mais:hover {
    background-color: #c8c8c8;
}

#saiba-mais > a {
    text-decoration: none;
    color: #f5f5f5;
    font-weight: bold;
}

#saiba-mais > a:hover {
    cursor: pointer;
    color: #252525;
}

/********
 * MAIN *
 ********/
h4 {
    font-size: 250%;
    color: #3C368C;
    font-weight: bold;
    text-align: center;
}

/**********
 * MISSÃO *
 **********/

 #img-missao {
    float: left;
    margin: 20px;
 }

 .missao > div {
    display: flex;
    flex-direction: column;
 }

 .missao h2 {
    color: #252525;
    font-weight: bold;
 }

 .missao p {
    color: #7d7d7d;
    line-height: 1.4;
 }

 #brochura-institucional > a {
    color: #0075be;
    text-decoration: none;
    font-size: 120%;
 }

 #brochura-institucional > a:hover {
    text-decoration: underline;
 }

hr {
    color: #7d7d7d;
    height: 2px;
 }

/**********
* EQUIPA *
**********/
.equipa > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.equipa > ul > li  {
    list-style-type: none;
}

.equipa img {
    border-radius: 50%;
    width: 200px;
    position: relative;
}

.equipa img:hover {
    border-radius: 0;
    transition: all 0.5s;
}

.equipa img:hover ~ ul {
    background-color: rgba(128, 128, 128, 0.5);
    visibility: visible;
    transition: all 1s;
} 

.equipa > ul > li > ul {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    align-items: center;
    flex-wrap: nowrap;
    bottom: 63px;
    color: white;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.equipa > ul > li > ul > li {
    list-style-type: none;
}

.equipa > ul > li > ul > li:first-child {
    font-weight: bold;
}

/**********
 * SLIDER *
 **********/

#slider {
    background-image: url("imagens/slider.jpg");
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#slider > h1 {
    font-size: 42px;
    color: #f27d29;
}


#slider > h2 {
    font-size: 32px;
    color:  #153c85;
}

#slider > p {
    font-size: 26px;
    color:  #153c85;
}

/************
 * TELEFONE *
 ************/

 #s-telefone {
    background-color:  #252525;
    color: #0acb84;
    position: fixed;
    top: 50%;
    right: 0;
 }

 #s-telefone > ul {
    list-style-type: none;
    display: flex;
    gap: 0px;
    padding-left: 0px;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 #s-telefone > ul > li:nth-child(2) {
    opacity: 0;
    width: 0;
    height: 0;
 }

 #s-telefone:hover > ul {
    gap: 10px;
    align-items: center;
 }

 #s-telefone:hover  > ul > li:nth-child(2)  {
    opacity: 1;
    height: auto;
    width: auto;
    transition: all 1s;
 }

 /************
 * /TELEFONE *
 ************/

/*********
 * /MAIN *
 *********/

/**********
 * FOOTER *
 **********/

footer > section {
    display: flex;
    background-color: #ebebeb;
    justify-content: space-around;
}

footer > section > ul > li {
    list-style-type: none;
}

footer > section > ul > li > h2 {
    color: #252525;
}

footer > section > ul > li > a {
    text-decoration: none;
    color: #7d7d7d;
}

footer > section > ul > li > a:hover {
    text-decoration: underline;
}

#backToTop {
    position: fixed;
    bottom: 20px;
    transform: translateX(95vw);
    margin-left: -22px;
}

/*********
 * MODAL *
 *********/
h6 {
    font-size: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tela {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.65);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.telaConteudo {
    background-color: white;
    padding: 30px;
    position: relative; 
}

.btnFechaTela {
    position: absolute;
    top: -14px;
    right: -14px; 
    background-color: white;
    height: 22px;
    width: 22px;
    text-align: center;
    line-height: 24px;
    font-weight: bold;
    border: 2px solid #666;
    border-radius: 50%;
    box-shadow: 3px 3px 5px #000;
    cursor: pointer;
    user-select: none;
}

.btnFechaTela:hover {
    background-color: #666;
    color: white;
}

.btnFechaTela:active {
    box-shadow: none;
    top: -11px;
    right: -17px;
}

.hidden {
    display: none;
}

#btnModalValidar {
    background-color: #0d6efd;
    float: right;
    border: none;
    color: white;
    border-radius: 3px;
}

#btnModalValidar:hover {
    cursor: pointer;
}

.telaConteudo > section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
}

#avisos {
    font-size: 75%;
}

/***********
 * COOKIES *
 ***********/

 .tela-cookies {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.65);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.tela-cookies > section {
    background-color: white;
    color: rgb(170, 170, 170);
    height: 100px;
    width: 100vw;
}

.tela-cookies > section > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    padding-left: 0px;
    gap: 50px;
}

.tela-cookies > section > ul > li > a {
    color:  #0075be;
    text-decoration: none;
} 

.tela-cookies > section > ul > li > a:hover {
    text-decoration: underline;
}

.tela-cookies > section > ul > li > button {
    color: #f5f5f5;
    background-color: #f16248;
    border: none;
    white-space: nowrap;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border-radius: 10px;
}

.tela-cookies > section > ul > li > button:hover {
    cursor: pointer;
    background-color: #f5f5f5;
    color: #f16248;
    border-color: #f16248;
    border-radius: 2px;
    border-style: solid;
    border-radius: 10px;

}

.tela-cookies > section > ul > li:nth-child(2) {
    margin-right: 50px;

}

/*********************
 * RESPONSIVE DESIGN *
 *********************/
 @media only screen and (max-width: 800px) {
    .menu {
        flex-direction: column;
        display: none;
    }
    
    #li-hamburguer {
        display: flex;
    }

    /*********************
    * BANNER RESPONSIVE *
    *********************/

    .banner {
        height: 320px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        text-align: center;
    }

    .banner > h1 {
        font-size: 40px;
        margin: auto;
        padding: auto;
    }

    .banner > h2 {
        margin: auto;
        padding: auto;
        font-size: 24px;
    }

    .banner > h3 {
        margin: auto;
        padding: auto;
    }

    .banner > button {
        margin-bottom: auto;
    }

    /***********************
    * MISSAO - RESPONSIVE *
    ***********************/

    #img-missao {
        float: none;
        width: 500px;
        margin: auto;
    }

    .missao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    .missao h2, p {
        margin-left: 20px;
        margin-right: 20px;
    }

    /*********************
    * EQUIPA RESPONSIVE *
    *********************/
    .equipa > ul {
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
    }

    /*********************
    * FOOTER RESPONSIVE *
    *********************/
    footer > section {
        flex-wrap: wrap;
    }

} /* End max-width 800px */

@media only screen and (max-width: 1100px) {
    #img-computador {
        display: none;
    }
}

@media only screen and (max-width: 1300px) {

    .tela-cookies {
        justify-content: center;
    }

    .tela-cookies > section {
        height: 150px;
    }

    .tela-cookies > section > ul {
        flex-direction: column;
        gap: 0px;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 801px) {
    .menu {
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (max-width: 480px) {
    #s-telefone {
        display: none;
    }
}