form > p {
    display: flex;
    justify-content: space-between;
}

form > p:last-child {
    justify-content: flex-start;
}

form > p > input {
    width: 70vw;
}

button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

button:hover {
    cursor: pointer;
}

.p-aviso {
    color: red;
    display: none;
}

#p-av-conf-senha {
    
} 

#p-av-todos {

}

